# Aktifkan Mesin Rewrite URL
RewriteEngine On

# --- PERUBAHAN DI SINI ---
# Untuk di Hosting (Subdomain dev.ukmelrahma.my.id)
# Gunakan slash tunggal '/' karena ini adalah root dari subdomain tersebut
# RewriteBase /

# (Simpan baris lama ini buat cadangan kalau mau balik ke Localhost)
RewriteBase /workshop-app-baron/
# -------------------------

# Abaikan rewrite jika request adalah file yang benar-benar ada
RewriteCond %{REQUEST_FILENAME} !-f
# Abaikan rewrite jika request adalah direktori yang benar-benar ada
RewriteCond %{REQUEST_FILENAME} !-d

# Arahkan semua request lainnya ke index.php
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]